* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    outline: none;
    border: none;
}

body {
    background-color: #232323;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #181818;
}
nav input, nav label {
    display: none;
}
nav ul li {
    text-transform: uppercase;
    display: inline-block;
    font-size: 30px;
    line-height: 70px;
    padding-inline: 20px;
}
nav ul li:hover {
    background-color: #111;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.displayer {
    margin-block: 30px;
    margin-inline: 210px;
    height: 340px;
}
.displayer img {
    width: 180px;
    height: 280px;
    float: left;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;    
    margin-right: 80px;
}
.displayer ul {
    height: 160px;
}
.displayer ul li {
    color: white;
    line-height: 60px;
    font-size: 28px;
    list-style: none;
    padding-top: 20px;
}
.displayer button {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: #181818;
    border-radius: 20px;
    width: 240px;
}
.displayer button a {
    color: white;
    text-decoration: none;
}
.displayer button:hover {
    font-size: 26px;
    background-color: #111;
    box-shadow: 3px 3px 3px black;
}

@media (max-width: 1024px) {
    .displayer {
        margin-inline: 90px;
    }
}

@media (max-width: 768px) {
    .displayer {
        margin-inline: 0;
    }
    .displayer img {
        margin-right: 40px;
    }
}

@media (max-width: 425px) {
    nav label {
        display: block;
    }
    nav input {
        display: none;
    }
    nav label {
        width: 70px;
        text-align: center;
        padding-inline: 10px;
    }
    nav label:hover {
        background-color: #111;
    }
    nav label i {
        margin-top: 12.5px;
        font-size: 45px;
        color: white;
    }
    nav ul {
        position: fixed;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #181818;
    }
    #check:checked ~ ul {
        left: 0;
        z-index: 1;
    }
    nav ul li {
        display: block;
    }
    nav ul li:hover {
        background-color: #111;
    }
    nav ul li a {
        font-size: 22px;
    }
    .displayer {
        margin: 0;
        padding: 20px;
        height: 800px;
    }
    .displayer ul {
        height: 60px;
    }
    .displayer img {
        margin-right: 0;
        float: none;
        width: 260px;
        height: 400px;
        margin-bottom: 20px;
        margin-left: 62.5px;
    }
    .displayer ul li {
        font-size: 22px;
        padding: 0;
        line-height: 25px;
        text-align: center;
    }
    .displayer ul li .title {
        display: none;
    }
    .displayer ul li .title-text {
        font-weight: bold;
    }
    .displayer ul li .author {
        font-size: 18px;
        font-style: italic;
    }
    .displayer button {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}