/* Core
-------------------------------*/
:root {
    --bg-: #232323;
    --main-: #181818;
    --main-2-: #181818cc;
    --hover-: #111;
    --hover-2-: #414141;
    --text-: #fff;
    --shadow-: 3px 3px 3px black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    color: var(--text-);
}

body {
    background-color: var(--bg-);
}
.line {
    height: 10px;
    width: 100%;
    background-color: var(--main-);
    margin-block: 10px;
}
.subhead {
    font: italic 36px;
    padding: 20px;
    text-decoration: underline;
}

/* DEFAULT RESOLUTION :
-------------------------------*/

/* Navigation Section
-------------------------------*/
nav {
    width: 100%;
    height: 70px;
    background-color: var(--main-2-);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 99999;
}
nav input, nav label {
    display: none;
}
nav ul li {
    text-transform: uppercase;
    display: inline-block;
    font: 26px/70px Verdana;
    padding-inline: 20px;
}
nav ul li:hover {
    background-color: var(--hover-);
}
nav ul li a {
    text-decoration: none;
}

/* Displayer Section
-------------------------------*/
.displayer {
    padding: 100px 210px 30px;
    height: 380px;
}
.displayer img {
    width: 180px;
    height: 280px;
    float: left;
    border-radius: 20px;
    box-shadow: var(--shadow-);    
    margin-right: 80px;
}
.displayer ul {
    height: 160px;
}
.displayer ul li {
    font: 28px/60px Verdana;
    list-style: none;
    padding-top: 20px;
}
.displayer button {
    margin: 50px 0 0 20px;
    font-size: 20px;
    padding: 10px;
    background-color: var(--main-);
    border-radius: 20px;
    width: 160px;
}
.displayer button a {
    text-decoration: none;
}
.displayer button:hover {
    background-color: var(--hover-);
    box-shadow: var(--shadow-);
}

/* Information Overlay
-------------------------------*/
#info-overlay:target {
    display: block;
}
#info-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-2-);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    z-index: 555;
    padding-top: 80px;
}
#info-overlay button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-);
    top: 90px;
    right: 20px;
}
#info-overlay .info-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-);
    width: 90%;
    margin-inline: 5%;
    padding: 10px;
    border-radius: 20px;
}
#info-overlay .info-container h2 {
    text-align: center;
    width: 100%;
    margin-block: 20px;
    text-transform: uppercase;
}
#info-overlay .info-container .side {
    width: 50%;
    font-size: 18px;
}
#info-overlay .info-container .side span {
    line-height: 30px;
}

/* Map Section
-------------------------------*/
#map .map-container {
    display: flex;
    flex-wrap: wrap;
}

#map .map-container .map-box:first-child {
    width: 40%;
}
#map .map-container .map-box:last-child {
    width: 60%;
}
#map .map-container .map-box a img {
    width: 400px;
    height: 400px;
    margin: 20px;
    float: right;
}
#map .map-container .map-box .radio-region {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#map .map-container .map-box .radio-region input {
    display: none;
}
#map .map-container .map-box .radio-region label {
    width: 25%;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
#map .map-container .map-box .radio-region label:hover,
#map .map-container .map-box .radio-region input:checked+label {
    background-color: var(--hover-);
}
#map .map-container .map-box .desc-box {
    display: none;
    background-color: var(--hover-);
    height: 350px;
    line-height: 25px;
    overflow-y: auto;
}
#map .map-container .map-box .desc-box h3 {
    font: italic 28px;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}
#map .map-container .map-box .desc-box p {
    font-size: 16px;
    padding: 10px;
}
#map .map-container .map-box .desc-box ul {
    margin-left: 50px;
    list-style-type: decimal;
}
#map .map-container .map-box .desc-box p b {
    font-style: italic;
}

/* Map Overlay
-------------------------------*/
#map-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-2-);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    z-index: 555;
    padding-top: 80px;
}
#map-overlay:target {
    display: block;
}
#map-overlay p {
    text-align: center;
}
#map-overlay p img {
    width: 550px;
    height: 550px;
    vertical-align: middle;
}
#map-overlay button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-);
    top: 90px;
    right: 20px;
}
#map-overlay button:hover {
    background-color: var(--hover-);
}
#map-overlay button a {
    font: bold 22px;
    text-decoration: none;
}

/* Characters Section
-------------------------------*/
#characters .char-container {
    display: flex;
    flex-wrap: wrap;
}
#characters .char-container .char-box {
    width: 20%;
    height: 20%;
    margin-top: 10px;
}
#characters .char-container .char-box img {
    width: 100%;
    margin: auto;
    height: 250px;
    filter: grayscale(100%);
}
#characters .char-container .char-box img:hover {
    filter: none;
    cursor: pointer;
}
#characters .char-container .char-box figcaption {
    font: italic bold 18px;
    margin: -30px 0 0 10px;
    text-shadow: var(--shadow-);
}

/* Credits Section
-------------------------------*/
#credits .credits-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
#credits .credits-container .credits-box {
    width: 33.33%;
    margin-top: 20px;
    padding: 10px;
}
#credits .credits-container .credits-box:hover {
    background-color: var(--hover-2-);
}
#credits .credits-container .credits-box h4 {
    font-style: italic;
}
#credits .credits-container .credits-box ul li {
    font-size: 18px;
    list-style: none;
    margin-left: 10px;
}

/* Footer + Contact Section
-------------------------------*/
footer {
    background-color: var(--main-);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
}
footer ul li {
    list-style:none ;
    display: inline-block;
    width: 50px;
    font-size: 36px;
    margin-inline: 30px;
}
footer ul li a {
    text-decoration: none;
}
footer ul li a .fa-whatsapp:hover {
    color: rgb(13, 240, 13);
}
footer ul li a .fa-instagram:hover {
    color: rgb(247, 24, 228);
}
footer ul li a .fa-github:hover {
    color: rgb(0, 0, 0);
}

/* LAPTOP L RESOLUTION :
-------------------------------*/

@media (max-width: 1440px) {
    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box img {
        height: 288px;
    }
}

/* LAPTOP M RESOLUTION :
-------------------------------*/

@media (max-width: 1366px) {
    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box img {
        height: 256px;
    }
}

/* LAPTOP S RESOLUTION :
-------------------------------*/

@media (max-width: 1024px) {
    /* Displayer Section
    -------------------------------*/
    .displayer {
        padding-inline: 100px;
    }

    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box img {
        height: 204.8px;
    }
    #characters .char-container .char-box figcaption {
        font-size: 14px;
        margin-left: 5px;
    }

    /* Map Section
    -------------------------------*/
    #map .map-container .map-box:first-child {
        width: 50%;
    }
    #map .map-container .map-box:last-child {
        width: 50%;
    }
    #map .map-container .map-box .radio-region label {
        font: 15px/40px Verdana;
        padding: 0;
    }
    #map .map-container .map-box .desc-box {
        height: 375px;
    }
}

/* TABLET RESOLUTION :
-------------------------------*/

@media (max-width: 768px) {
    /* Navigation Section
    -------------------------------*/
    nav ul li a {
        font-size: 18px;
    }

    /* Displayer Section
    -------------------------------*/
    .displayer {
        margin-inline: 0;
        padding-inline: 20px;
    }
    .displayer img {
        margin-right: 30px;
    }
    .displayer ul li {
        font-size: 24px;
    }
    .displayer button {
        margin-left: 5px;
    }

    /* Information Overlay
    -------------------------------*/
    #info-overlay .info-container .box-1 {
        width: 30%;
    }
    #info-overlay .info-container .box-2 {
        width: 70%;
    }

    /* Map Section
    -------------------------------*/
    #map .map-container .map-box a img {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    #map .map-container .map-box .radio-region label {
        font-size: 12px;
    }
    #map .map-container .map-box .desc-box {
        height: 275px;
    }

    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box {
        width: 25%;
        height: 25%;
    }
    #characters .char-container .char-box img {
        height: 192px;
    }
    #characters .char-container .char-box figcaption {
        font-size: 14px;
        margin-left: 0;
    }
}

/* PHONE L RESOLUTION :
-------------------------------*/
@media (max-width: 425px) {
    /* Subcore
    -------------------------------*/
    .subhead {
        text-align: center;
        font-size: 26px;
    }

    /* Navigations Section
    -------------------------------*/
    nav label {
        display: block;
    }
    nav input {
        display: none;
    }
    nav label {
        width: 70px;
        text-align: center;
        padding-inline: 10px;
    }
    nav label:hover {
        background-color: var(--hover-);
    }
    nav label i {
        margin-block: 12.5px;
        font-size: 45px;
    }
    nav ul {
        position: fixed;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: var(--main-);
    }
    #check:checked ~ ul {
        left: 0;
        z-index: 1;
    }
    nav ul li {
        display: block;
    }
    nav ul li:hover {
        background-color: var(--hover-);
    }
    nav ul li a {
        font-size: 22px;
    }

    /* Displayer Section
    -------------------------------*/
    .displayer {
        padding-top: 90px;
        padding-inline: 20px;
        height: 770px;
    }
    .displayer ul {
        height: 60px;
    }
    .displayer img {
        margin: 0 0 20px 62.5px;
        float: none;
        width: 260px;
        height: 400px;
    }
    .displayer ul li {
        font: 22px/25px Verdana;
        padding: 0;
        text-align: center;
    }
    .displayer ul li .title {
        display: none;
    }
    .displayer ul li .title-text {
        font-weight: bold;
    }
    .displayer ul li .author {
        font: italic 18px;
    }
    .displayer button {
        margin: 20px 0 0 0;
        width: 100%;
    }

    /* Information Overlay
    -------------------------------*/
    #info-overlay .info-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #info-overlay .info-container .side {
        font-size: 10px;
    }

    /* Map Section
    -------------------------------*/
    #map .map-container .map-box {
        width: 100%;
    }
    #map .map-container .map-box a img {
        width: 400px;
        height: 400px;
        margin: 0 12.5px 20px;
    }
    #map .map-container .map-box:first-child {
        width: 100%;
    }
    #map .map-container .map-box:last-child {
        width: 100%;
    }
    #map .map-container .map-box .radio-region label {
        font-size: 12px;
    }

    /* Map Overlay
    -------------------------------*/
    #map-overlay p img {
        width: 100%;
        height: 425px;
        margin-top: 20px;
    }

    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box {
        width: 50%;
        height: 50%;
    }
    #characters .char-container .char-box img {
        height: 212.5px;
    }
    #characters .char-container .char-box figcaption {
        font-size: 14px;
        margin-left: 0;
    }

    /* Credit Section
    -------------------------------*/
    #credits .credits-container .credits-box {
        width: 50%;
    }
    #credits .credits-container .credits-box ul li {
        font-size: 14px;
    }

    /* Footer + Contact Section
    -------------------------------*/
    footer ul li {
        margin-inline: 15px;
    }
    footer ul li a i {
        font-size: 28px;
    }
    footer span {
        font-size: 12px;
    }
}

/* PHONE M RESOLUTION :
-------------------------------*/

@media (max-width: 375px) {
    /* Displayer Section
    -------------------------------*/
    .displayer img {
        margin-left: 37.5px;
    }

    /* Map Section
    -------------------------------*/
    #map .map-container .map-box a img {
        width: 350px;
        height: 350px;
    }

    /* Map Overlay
    -------------------------------*/
    #map-overlay p img {
        height: 375px;
    }

    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box img {
        height: 187.5px;
    }

    /* Credit Section
    -------------------------------*/
    #credits .credits-container .credits-box ul li {
        font-size: 12px;
    }
}

/* PHONE S RESOLUTION:
-------------------------------*/

@media (max-width: 320px) {
    /* Displayer Section
    -------------------------------*/
    .displayer img {
        margin-left: 10px;
    }
    .displayer ul li {
        font-size: 18px;
        margin-top: 5px;
    }

    /* Map Section
    -------------------------------*/
    #map .map-container .map-box a img {
        width: 300px;
        height: 300px;
        margin-inline: 10px;
    }
    #map .map-container .map-box .radio-region label {
        width: 50%;
        font-size: 18px;
        padding: 10px;
    }

    /* Map Overlay
    -------------------------------*/
    #map-overlay p img {
        height: 320px;
    }

    /* Character Section
    -------------------------------*/
    #characters .char-container .char-box img {
        height: 160px;
    }
    #characters .char-container .char-box figcaption {
        font-size: 12px;
    }

    /* Credit Section
    -------------------------------*/
    #credits .credits-container .credits-box {
        width: 100%;
    }
    #credits .credits-container .credits-box ul li {
        font-size: 18px;
    }
}